@import url('https://fonts.googleapis.com/css?family=Courgette|Great+Vibes');
* { margin:0; padding:0; box-sizing:border-box; }
img { width:300px; }
h1{
	font-family: 'Courgette', cursive;
	color: white; text-align: center; background: black
}
#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: grey;
    border: 1px black solid;
    padding: 20px;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
}
#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
} 


h3{
	font-family: 'Great Vibes', cursive; color: white; text-align: center;
    background: black
}
nav{ text-align: center; background: yellow

}
img{ display: inline-block; text-align: center;

}

.fa {
    padding: 0px;
    font-size: 10px; font-style: italic;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%%;
}
/* Facebook */
.fa-facebook {
        color: black;
}
    .fa {
    padding: 0px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}



/* Twitter */
.fa-twitter {
    color: black;
}

    
/* Instagram */
.fa-instagram {
 
  color: black;

