@import url('https://fonts.googleapis.com/css?family=Courgette|Great+Vibes');
* { margin:50; padding:0; box-sizing:border-box; }
h1{
	font-family: 'Courgette', cursive;
	color: black; text-align: right;
}
h3{
	font-family: 'Great Vibes', cursive; text-align: right;
}
nav{ text-align: center; }

}
nav{text-align: center;}

}
.fa {
    padding: 0px;
    font-size: 10px; font-style: italic;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%%;
}
/* Facebook */
.fa-facebook {
        color: black;
}
    .fa {
    padding: 0px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}



/* Twitter */
.fa-twitter {
    color: black;
}

    
/* Instagram */
.fa-instagram {
 
  color: black;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>