@import url('https://fonts.googleapis.com/css?family=Courgette|Great+Vibes');
* { margin:0; padding:0; box-sizing:border-box; }
img { width:300px; }
h1{
	font-family: 'Courgette', cursive;
	color: black; text-align: center;
    background: pink
}
p{text-indent: left
}

h3{
	font-family: 'Great Vibes', cursive; text-align: right;
    background: grey
}
nav{ text-align: center; background: red

}
nav{text-align: center;}


}
.fa {
    padding: 0px;
    font-size: 10px; font-style: italic;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%%;
}
/* Facebook */
.fa-facebook {
        color: black;
}
    .fa {
    padding: 0px;
    font-size: 10px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}



/* Twitter */
.fa-twitter {
    color: black;
}

    
/* Instagram */
.fa-instagram {
 
  color: black;

columns: {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left {
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
}